@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: 'Julius Sans One', sans-serif;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: solid;
    color: rgb(0, 115, 215);
}

li {
    display: inline;
    float:right;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(132, 224, 255);
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover{
    background-color:red;
}





div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  90px;
    margin: 20px;
}