@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'Julius Sans One', sans-serif;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

h2{
    display: flex;
    justify-content: center;
    color:yellow;
}


h1 {
    display: flex;
    justify-content: center;
    text-decoration: solid;
    color: rgb(0, 115, 215);
    background-image:url(images/banner.png);;
    background-size: cover;
    background-position: center;
    padding: 6em;
  
}

p{
    color: aliceblue;
    text-align: center;
}

li {
    display: inline;
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 251, 0);
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{
    background-color:red;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
 
  [class*="col-"] {
    width: 100%;
    
  }
}